.btn-info:hover {
    color: pink !important;
    background-color: darkred;
    outline-color: darkred !important;
}

.btn-warning:hover {
    color: wheat !important;
    background-color: green;
    outline-color: green !important;
}

canvas {
    animation: example 4s infinite;
    outline: dashed black;
}

@keyframes example {
    from{box-shadow: 0px 0px 0px blue;}
    to{box-shadow: 0px 0px 0px yellow;}
}